@import url('https://fonts.googleapis.com/css?family=Numans');
*{
    overflow: hidden;
}
body{
/* background-image: url('../asset/background.jpg'); */
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed; 
/* background-position:  */
background-color: black;
height: 100%;
font-family: 'Numans', sans-serif;
}*/

#partiles-js{
    height: 680px;
}
.card{
    color: black;
} 
 .container{
     margin-top: auto;
height: 100%;
position: absolute;
align-content: center;
}

.card{
/* height:500px; */
margin-top: auto;
margin-bottom: auto;
width: fit-content;
background-color: rgba(0,0,0) !important;
border-radius: 4px;
/* border:1px solid blue; */
}

.card-body{
    height:100px;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color:#FFC312;
border-radius: 10px;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

a.links{
    color: #FFC312;
}
.links{
color: white;
}

.links a{
margin-left: 4px;
}